
body {
  display: flex;
  background-color: orange;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  color: gray;
  text-align: center;
}

h1{
  font-size: clamp(10px, 2vh, 25px);
}

#logoGalleryContainer{
  width: 100%;
  height: 100%;
}

@media screen and (max-width:415px) {
  #logoGalleryContainer {
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items:flex-start;
    min-height: 100vh;
  }
}

@media screen and (min-width:416px) {
  #logoGalleryContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }
}

#logoBar{
  width: 70vw;
  height: 20vh;
}

#siteLogo{
  width: 100%;
}

#staffGallery{
  width: 70vw;
  height:40vh;
  padding: 40px;
  display: inherit;
  flex-wrap: wrap;
}

.galleryImage{
  max-width: 100px;
  height: auto;
  display:flex;
}

.myCard{
  background-color:beige;
  border-radius:10%;
  margin-top:20px;
  margin-left:5px;
}

